.heading {
    text-align: center;
    margin-bottom: 20px;
}

.Branches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 0.9fr));
    grid-template-rows: repeat(auto-fit, minmax(25vh, 0.9fr));
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 80vw;
}

.Branches-item {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.Branches-item:hover {
    background-color: #555;
}

.branchtext {
    text-align: center;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 9px;
}


.branchimage {
    position: absolute;
    opacity: 0.7;
}

.branchquote {
    text-align: center;
    padding: 10px;
    padding-top: 3vh;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
}

/* Responsive design */

@media screen and (max-width: 600px) {
    .Branches {
        grid-template-columns: repeat(auto-fit, minmax(170px, 0.9fr));
    }
    
}