/* common style for all pages */


body {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    border-bottom: 1px solid #2d2c2c;
}

.logo {
    width: 40px;
    height: 40px;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: flex-end;
    /* Align links to the right */
    align-items: center;
    overflow: hidden;
    z-index: 100;
    height: 40px;
    background: linear-gradient(to bottom, #b3b3b330, #35353504);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Navigation bar links */
.navbar a {
    color: white;
    text-align: center;
    padding: 12px 11px;
    position: relative;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 20px;
}

/* On hover, the links will change color */
.navbar a:hover {
    color: #19721e;
}

/* Responsive navigation menu */

.navbar-mobile {
    display: none;
}

.hidden {
    visibility: hidden;
}

footer {
    color: white;
    text-align: center;
    min-height: 20vh;
    bottom: 0;
    width: 100%;
    padding-top: 10vh;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100%;
    }

    .navbar-mobile a:not(.menuIcon) {
        display: none;
    }

    .navbar-mobile.responsive {
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        padding-top: 0;
        z-index: 100;
        overflow-x: hidden;
        background: linear-gradient(to bottom, #97a1ad, #031419a9);
        animation: slideIn 0.5s forwards;
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes slideIn {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }


    .navbar-mobile.responsive a {
        display: block;
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 18px;
        color: #000;
        height: 5.5vh;
        transition: 0.3s;
    }

    .navbar-mobile.responsive a:hover {
        color: #ffffff;
        background: none;
        font-size: 22px;
        font-weight: bold;
        transition: 0.3s;
    }

    /* Menu Icon Design */
    .navbar-mobile .menuIcon {
        display: block;
        cursor: pointer;
        color: white;
        padding: 10px 14px;
        order: -1;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2.5px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}

.ChooseBranch {
    color: white;
}




.alter {
    height: 100vh;
}




/* STYLE FOR ABOUT PAGE */
#h1About {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 0;
    font-size: 3rem;
    color: white;
}

.containerAbout {
    font-family: Arial, Helvetica, sans-serif;;
    margin: auto;
    padding-top: 10vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    top: 10vh;
    width: 80%;
    padding: 20px;
    text-align: center;
    line-height: 1.6;

}

.h2About {
    font-size: 2rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pAbout {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    text-align-last: center;
}

@media screen and (max-width: 600px) {
    .containerAbout {
        width: 90%;
    }
    
}
/* END OF STYLE OF ABOUT PAGE */

/* STYLE FOR PROFILE PAGE */

#user-profile {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    color: #000;
}

#profile-logout-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#profileHeading{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}