/* Styling for the signup and login forms */
.signup-form,
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    color: black;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form label,
.login-form label {
    display: block;
    margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="password"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: 2px solid #e59700;
}

.signup-form button,
.login-form button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.signup-form button:hover,
.login-form button:hover {
    background-color: #36963b;
}

#createNewAccount,
#alreadyHaveAccount {
    text-decoration: none;
    float: right;
    margin-top: 10px;
}

/* Add this to your existing style.css or create a new CSS file */


.signup-form .or,
.login-form .or {
    text-align: center;
}

.signup-form .social,
.login-form .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form .social-btn,
.login-form .social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px; /* Adjust as needed */
    height: 50px;
    /* Google Blue */
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form .social-btn:hover,
.login-form .social-btn:hover {
    background-color: rgb(212, 212, 212);
}

.signup-form .social-btn:hover #google::after,
.login-form .social-btn:hover #google::after {
    border-right: 13px solid rgb(212, 212, 212);
    transition: border-right 0.3s;
}


/* Additional styles can be added based on your design */


.signup-form .social #google,
.login-form .social #google {
    position: relative;
    border-top: 5px solid #EA4335;
    border-right: 5px solid #4285F4;
    border-bottom: 5px solid #34A853;
    border-left: 5px solid #FBBC05;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 5px 0 0;
    float: left;
}

.signup-form .social #google::before,
.login-form .social #google::before {
    content: "";
    z-index: 100;
    position: absolute;
    top: 49%;
    right: -4.5px;
    transform: translateY(-50%);
    width: 12.25px;
    height: 5px;
    background: #4285F4;
}

.signup-form .social #google::after,
.login-form .social #google::after {
    content: "";
    z-index: 101;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 13px solid white;
    top: -5px;
    right: -5px;
    width: 0;
    height: 0;
}