/* StyleEngineer.css */
/* Place your global styles here */

/* Branch.css */
/* Styles for the "Civil Engineering" page */
.heading {
    text-align: center;
}

.subjects {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

.subjects div {
    padding: 1vw;
    margin: 1vw;
}

